
/* .link:hover {
    color: black;
} */
.paperWrap {
    width: 200px;
    margin-top: 50px;
    padding: 10px;
}
.paperWrap:hover {
    background-color: #ffc107;
    color: black
}

.link {
    margin-top: 50px;
}
